
body {
  font-family: 'Montserrat', sans-serif;
  text-align: center;
}

h1, h2, h3, h4, h5, h6 {
  font-family: 'Montserrat', sans-serif;
}

h3 {
  font-weight: bold;
  color: #23272B;
}

p {
  color: #8f8f8f;
}

em {
  color: white;
}


/* Headings */
.big-heading {
  font-weight: 900;
  font-size: 3.5rem;
  line-height: 1.5;
}

/* Containers */
.container-fluid {
  padding: 7% 20%;
}

/* Color sections */
.colored-section {
  background-color: #FF4C68;
  color: #fff;
}

.white-section {
  background-color: #fff;
  color: black;
}

/* Title Section */

#title .container-fluid {
  padding: 3% 15% 8%;
  text-align: left;
}



/* Navigation Bar */
.navbar {
  padding: 0 0 5rem;
}

.navbar-brand {
  font-size: 2.3rem;
  font-family: 'Ubuntu', sans-serif;
  font-weight: bold;
}

.nav-item {
  padding: 0 10px;
}

.nav-link {
  font-size: 1.2rem;
  font-family: 'Montserrat', sans-serif;
  font-weight: 400;
}


/* Download Button */
.download-button {
  margin: 5% 3% 5% 0;
}


/* Title Image */
.title-image {
  width: 57%;
  transform: rotate(25deg);
  position: absolute;
  right: 30%;
  margin-left: 50px;
}


/* Features section */
#features {
  padding: 12% 12%;
  position: relative;
  /* z-index: 1; */
}

.feature-box {
  padding: 2%;
}

.icon {
  color: #EF8172;
  margin-bottom: 1rem;
}

.icon:hover {
  color: #FF4C68;
}

.feature-description {
  padding: 0 13%;
  color: #8F8F8F;
}


/* Testimonial Section */

#testimonials {
  background-color: #EF8172;
}

.testimonial-text {
  font-weight: 700;
  font-size: 3rem;
  line-height: 1.5;
}

.testimonial-image {
  width: 12%;
  border-radius: 100%;
  margin: 20px;
}



/* Press Section */

#press {
  background-color: #EF8172;
  padding-bottom: 3%;
}

.press-logo {
  width: 15%;
  margin: 20px 20px 50px;
}


/* Pricing Section */

#pricing {
  padding: 120px;
}

.pricing-text {
  font-weight: 700;
  font-size: 2.5rem;
  line-height: 1.5;
}

.pricing-column {
  padding: 5% 2%;
}



/* cta section */

.cta-msg {
  font-size: 3rem;
  line-height: 1.5;
  color: #fff;
}



/* Footer section */

.social-icon {
  margin: 20px 10px;
}



@media (max-width: 992px) {
  #title {
    text-align: center;
  }

  .title-image {
    position: static;
    transform: rotate(0);
  }
}
